{% load static %}
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <!-- Site Metas -->

  <link rel="icon" href="{% static '/images/s1.png' %}" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>{{garage.name}}</title>
  <!-- CSS only -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
    crossorigin="anonymous"
  />

  <!-- fonts style -->
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    rel="stylesheet"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- font awesome style -->
  {% load static %}

  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

  {% load static %}
  <link href="{% static 'css/booking.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  {% load static %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  {% load static %}
  <link href="{% static  'css/responsive.css' %}" rel="stylesheet" />

  <style>
    .media {
      padding: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .media .media-body {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .media .media-body .wrap-button {
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }

    .enable-button,
    .disable-button {
      width: 100px;
    }

    .enable-button,
    .disable-button {
      margin: 5px;
    }

    #task-form {
      width: fit-content;
      padding: 30px;
    }

    #submit {
      margin: 12px;
    }
  </style>
</head>

<body>
  <!-- header section strats -->
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="{% url 'homepage' %}">
          <span>{{garage.name}}</span>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'homepage' %}"
                >Trang Chủ <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""> Về chúng tôi</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'booking' %}"
                >Đặt lịch sửa chữa</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage' %}#services"
                >Dịch vụ</a
              >
            </li>
          </ul>
          <div class="quote_btn-container">
            {% if request.user.is_authenticated %}

            <div class="wrap-logout">
              <p style="text-transform: uppercase">
                Xin chào, {{request.user}} |
              </p>

              <a href="{% url 'logout' %}"> Đăng Xuất</a>
            </div>

            {% else %}
            <a href="{% url 'login' %}">Đăng Nhập</a>

            {% endif %}
          </div>
        </div>
      </nav>
    </div>
  </header>
</body>

<!-- jQery -->
{% load static %}
<script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
<!-- bootstrap js -->
{% load static %}
<script src="{% static '/js/bootstrap.js' %}"></script>

<script>
  $(document).on("submit", "#task-form", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'booking_test' %}",
      data: {
        name: $("#name").val(),
        date: $("#date").val(),
        email: $("#email").val(),
        time: $("#time").val(),
        service: $("#service").val(),
        note: $("#note").val(),
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
      },
      success: function () {
        $("#name").val("");
        $("#date").val("");
        $("#email").val("");
        $("#time").val("");
        $("#service").val("");
        $("#note").val("");
        alert("Đã nhận được yêu cầu của quý khách!");
        location.href = "";
        return;
      },
    });
  });

  document.addEventListener("click", (e) => {
    const target = e.target;
    if (target.classList.contains("enable-button")) {
      const dateInput = document.querySelector("#date");
      const timeInput = document.querySelector("#time");
      const time = target.textContent.trim();

      const wrapButton = target.parentElement;
      const mediaBody = wrapButton.parentElement;
      const articleMetadata = mediaBody.children[0];

      const date = articleMetadata.children[0].textContent;

      dateInput.value = date;
      timeInput.value = time;
    }
  });
</script>
