#booking-section {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#booking-section #wrap-form {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff6f3d;
  border: 2px solid #ff6431;
  border-radius: 5px;
}

#booking-section form {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#booking-section p {
  margin-bottom: 1rem;
  width: 250px;
  display: flex;
  flex-direction: column;
}

#booking-section p label {
  margin-bottom: 1px;
  font-weight: bold;
}

#booking-section p #id_service,
#id_user,
#id_date,
#id_time_slot,
#id_note,
#id_phone_number {
  padding: 3px 6px;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
}

#booking-section p #id_service:focus,
#id_date:focus,
#id_time_slot:focus,
#id_note:focus,
#id_phone_number:focus {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#booking-section #submit {
  margin: 5px;
  padding: 5px 10px;
  background-color: black;
  color: white;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
}

#booking-section #submit:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#booking-section #submit:active {
  transform: translate(1px, 1px);
}

@media (min-width: 396px) {
  #booking-section #wrap-form {
    padding: 30px 50px;
  }
}

@media (max-width: 396px) {
  #booking-section #wrap-form {
    padding: 30px 30px;
  }
}
