{% extends 'garage/main.html' %} {% block content %}

<div class="header-bar">
  <h1>Đăng Ký</h1>
</div>

<div class="card-body">
  <form method="POST">
    {% csrf_token %}
    <label>{{form.username.label}}</label>
    {{form.username}}

    <label>{{form.email.label}}</label>
    {{form.email}}

    <label>{{form.password1.label}}</label>
    {{form.password1}}
    <div>
      <span jsslot>
        Sử dụng 8 ký tự trở lên và kết hợp chữ cái, chữ số và biểu tượng</span
      >
    </div>

    <label>{{form.password2.label}}</label>
    {{form.password2}}

    <input
      style="margin-top: 10px"
      class="button"
      type="submit"
      value="Đăng ký"
    />
  </form>
  <p>Bạn đã có tài khoản? <a href="{% url 'login' %}">Đăng nhập</a></p>
</div>

{% endblock content %}
